@model Expense_Tracker.Data.ApplicationUser
@{
    ViewData["Title"] = "Index";
}

<h1>@Model.UserName's Profile</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <a class="btn btn-primary" asp-area="" asp-controller="Sheets" asp-action="IndexConnection" asp-route-id="@Model.Id">Sheets</a>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <a class="btn btn-primary" asp-area="" asp-controller="SavingGoals" asp-action="IndexConnection" asp-route-id="@Model.Id">Saving Goals</a>
        </div>
    </div>
</div>


