@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This site lets you keep track of your expenses and income. You can start budgeting easily with all this information in one place and the tools available through this site.</p>

<p>Expenses and Income are tracked through "Sheets". In these sheets you can add records for that specific sheet. A Sheet is usually a month, this makes viewing your monthly expenses/income easier than ever, but a sheet can be for any timeframe that you desire.</p>

<p>Once Sheets are filled out you can view statistics about your own sheets and what you can be expecting in the future with your current patterns</p>

<p>You can also use this tool to share your expenses/income with other uses that you choose. There is also the option to make your profile public so that others can view some of your data.</p>
